@charset "UTF-8";
/*
 * HTML5 ✰ Boilerplate
 *
 * What follows is the result of much research on cross-browser styling. 
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* =============================================================================
   HTML5 element display
   ========================================================================== */
/* line 14, ../scss/helpers/_h5bp_reset.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
  display: block;
}

/* line 15, ../scss/helpers/_h5bp_reset.scss */
audio[controls], canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

/* =============================================================================
   Base
   ========================================================================== */
/*
 * 1. Correct text resizing oddly in IE6/7 when body font-size is set using em units
 *    http://clagnut.com/blog/348/#c790
 * 2. Force vertical scrollbar in non-IE
 * 3. Remove Android and iOS tap highlight color to prevent entire container being highlighted
 *    www.yuiblog.com/blog/2010/10/01/quick-tip-customizing-the-mobile-safari-tap-highlight-color/
 * 4. Prevent iOS text size adjust on device orientation change, without disabling user zoom
 *    www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/
 */
/* line 66, ../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
html {
  font-size: 100%;
  line-height: 1.5em;
}

/* line 34, ../scss/helpers/_h5bp_reset.scss */
html {
  overflow-y: scroll;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* line 36, ../scss/helpers/_h5bp_reset.scss */
body {
  margin: 0;
}

/* line 38, ../scss/helpers/_h5bp_reset.scss */
body, button, input, select, textarea {
  font-family: Avenir Next, sans-serif;
  color: #222;
}

/* 
 * These selection declarations have to be separate
 * No text-shadow: twitter.com/miketaylr/status/12228805301
 * Also: hot pink!
 */
/* line 46, ../scss/helpers/_h5bp_reset.scss */
::-moz-selection {
  background: #fe57a1;
  color: #fff;
  text-shadow: none;
}

/* line 47, ../scss/helpers/_h5bp_reset.scss */
::selection {
  background: #fe57a1;
  color: #fff;
  text-shadow: none;
}

/* =============================================================================
   Links
   ========================================================================== */
/* line 54, ../scss/helpers/_h5bp_reset.scss */
a {
  color: #00e;
}

/* line 55, ../scss/helpers/_h5bp_reset.scss */
a:visited {
  color: #551a8b;
}

/* line 56, ../scss/helpers/_h5bp_reset.scss */
a:focus {
  outline: thin dotted;
}

/* Improve readability when focused and hovered in all browsers: people.opera.com/patrickl/experiments/keyboard/test */
/* line 59, ../scss/helpers/_h5bp_reset.scss */
a:hover, a:active {
  outline: 0;
}

/* =============================================================================
   Typography
   ========================================================================== */
/* line 66, ../scss/helpers/_h5bp_reset.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/* line 68, ../scss/helpers/_h5bp_reset.scss */
b, strong {
  font-weight: bold;
}

/* line 70, ../scss/helpers/_h5bp_reset.scss */
blockquote {
  margin: 0 40px;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

/* line 72, ../scss/helpers/_h5bp_reset.scss */
dfn {
  font-style: italic;
}

/* line 74, ../scss/helpers/_h5bp_reset.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 0;
  padding: 0;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

/* line 76, ../scss/helpers/_h5bp_reset.scss */
ins {
  background: #ff9;
  color: #000;
  text-decoration: none;
}

/* line 78, ../scss/helpers/_h5bp_reset.scss */
mark {
  background: #ff0;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

/* Redeclare monospace font family: en.wikipedia.org/wiki/User:Davidgothberg/Test59 */
/* line 81, ../scss/helpers/_h5bp_reset.scss */
pre, code, kbd, samp {
  font-family: monospace, monospace;
  _font-family: 'courier new', monospace;
  font-size: 1em;
  line-height: 1.5em;
}

/* Improve readability of pre-formatted text in all browsers */
/* line 84, ../scss/helpers/_h5bp_reset.scss */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/* line 86, ../scss/helpers/_h5bp_reset.scss */
q {
  quotes: none;
}

/* line 87, ../scss/helpers/_h5bp_reset.scss */
q:before, q:after {
  content: "";
  content: none;
}

/* line 89, ../scss/helpers/_h5bp_reset.scss */
small {
  font-size: 85%;
}

/* Position subscript and superscript content without affecting line-height: gist.github.com/413930 */
/* line 92, ../scss/helpers/_h5bp_reset.scss */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 93, ../scss/helpers/_h5bp_reset.scss */
sup {
  top: -0.5em;
}

/* line 94, ../scss/helpers/_h5bp_reset.scss */
sub {
  bottom: -0.25em;
}

/* =============================================================================
   Lists
   ========================================================================== */
/* line 101, ../scss/helpers/_h5bp_reset.scss */
ul, ol {
  margin-bottom: 1.5em;
  margin-top: 1.5em;
  padding-left: 40px;
}

/* line 102, ../scss/helpers/_h5bp_reset.scss */
dd {
  margin: 0 0 0 40px;
}

/* line 103, ../scss/helpers/_h5bp_reset.scss */
nav ul, nav ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* =============================================================================
   Embedded content
   ========================================================================== */
/*
 * 1. Improve image quality when scaled in IE7 http://h5bp.com/d
 * 2. Remove the gap between images and borders on image containers http://h5bp.com/e 
 */
/* line 115, ../scss/helpers/_h5bp_reset.scss */
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}

/*
 * Correct overflow displayed oddly in IE9 
 */
/* line 121, ../scss/helpers/_h5bp_reset.scss */
svg:not(:root) {
  overflow: hidden;
}

/* =============================================================================
   Figures
   ========================================================================== */
/* line 128, ../scss/helpers/_h5bp_reset.scss */
figure {
  margin: 0;
}

/* =============================================================================
   Forms
   ========================================================================== */
/* line 135, ../scss/helpers/_h5bp_reset.scss */
form {
  margin: 0;
}

/* line 136, ../scss/helpers/_h5bp_reset.scss */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/* 
 * 1. Correct color not inheriting in IE6/7/8/9 
 * 2. Correct alignment displayed oddly in IE6/7 
 */
/* line 143, ../scss/helpers/_h5bp_reset.scss */
legend {
  border: 0;
  *margin-left: -7px;
  padding: 0;
}

/* Indicate that 'label' will shift focus to the associated form element */
/* line 146, ../scss/helpers/_h5bp_reset.scss */
label {
  cursor: pointer;
}

/*
 * 1. Correct font-size not inheriting in all browsers
 * 2. Remove margins in FF3/4 S5 Chrome
 * 3. Define consistent vertical alignment display in all browsers
 */
/* line 154, ../scss/helpers/_h5bp_reset.scss */
button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

/*
 * 1. Define line-height as normal to match FF3/4 (set using !important in the UA stylesheet)
 * 2. Correct inner spacing displayed oddly in IE6/7
 */
/* line 161, ../scss/helpers/_h5bp_reset.scss */
button, input {
  line-height: normal;
  *overflow: visible;
}

/*
 * 1. Display hand cursor for clickable form elements
 * 2. Allow styling of clickable form elements in iOS
 */
/* line 168, ../scss/helpers/_h5bp_reset.scss */
button, input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}

/*
 * Consistent box sizing and appearance
 */
/* line 174, ../scss/helpers/_h5bp_reset.scss */
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
}

/* line 175, ../scss/helpers/_h5bp_reset.scss */
input[type="search"] {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

/* 
 * Remove inner padding and border in FF3/4
 * www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/ 
 */
/* line 182, ../scss/helpers/_h5bp_reset.scss */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* Remove default vertical scrollbar in IE6/7/8/9 */
/* line 185, ../scss/helpers/_h5bp_reset.scss */
textarea {
  overflow: auto;
  vertical-align: top;
}

/* Colors for form validity */
/* line 189, ../scss/helpers/_h5bp_reset.scss */
input:invalid, textarea:invalid {
  background-color: #f0dddd;
}

/* =============================================================================
   Tables
   ========================================================================== */
/* line 196, ../scss/helpers/_h5bp_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* =============================================================================
   Non-semantic helper classes
   Please define your styles before this section.
   ========================================================================== */
/* For image replacement */
/* line 7, ../scss/helpers/_non-semantic-helpers.scss */
.ir {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

/* line 8, ../scss/helpers/_non-semantic-helpers.scss */
.ir br {
  display: none;
}

/* Hide for both screenreaders and browsers:
   css-discuss.incutio.com/wiki/Screenreader_Visibility */
/* line 12, ../scss/helpers/_non-semantic-helpers.scss */
.hidden {
  display: none;
  visibility: hidden;
}

/* Hide only visually, but have it available for screenreaders: by Jon Neal.
  www.webaim.org/techniques/css/invisiblecontent/  &  j.mp/visuallyhidden */
/* line 16, ../scss/helpers/_non-semantic-helpers.scss */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: drupal.org/node/897638 */
/* line 19, ../scss/helpers/_non-semantic-helpers.scss */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/* Hide visually and from screenreaders, but maintain layout */
/* line 22, ../scss/helpers/_non-semantic-helpers.scss */
.invisible {
  visibility: hidden;
}

/* Contain floats: nicolasgallagher.com/micro-clearfix-hack/ */
/* line 25, ../scss/helpers/_non-semantic-helpers.scss */
.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}

/* line 26, ../scss/helpers/_non-semantic-helpers.scss */
.clearfix:after {
  clear: both;
}

/* line 27, ../scss/helpers/_non-semantic-helpers.scss */
.clearfix {
  zoom: 1;
}

/* line 12, ../scss/style.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 15, ../scss/style.scss */
body {
  font-size: 0.85em;
  line-height: 1.765em;
}
@media (min-width: 50.5em) {
  /* line 15, ../scss/style.scss */
  body {
    font-size: 1em;
    line-height: 1.5em;
  }
}
@media (min-width: 78.5em) {
  /* line 15, ../scss/style.scss */
  body {
    font-size: 1.5em;
    line-height: 2em;
  }
}

/*  Font Awesome
 *    the iconic font designed for use with Twitter Bootstrap
 *    -------------------------------------------------------
 *    The full suite of pictographic icons, examples, and documentation
 *    can be found at: http://fortawesome.github.com/Font-Awesome/
 *
 *    License
 *    -------------------------------------------------------
 *    The Font Awesome webfont, CSS, and LESS files are licensed under CC BY 3.0:
 *    http://creativecommons.org/licenses/by/3.0/ A mention of
 *    'Font Awesome - http://fortawesome.github.com/Font-Awesome' in human-readable
 *    source code is considered acceptable attribution (most common on the web).
 *    If human readable source code is not available to the end user, a mention in
 *    an 'About' or 'Credits' screen is considered acceptable (most common in desktop
 *    or mobile software).
 *
 *    Contact
 *    -------------------------------------------------------
 *    Email: dave@davegandy.com
 *    Twitter: http://twitter.com/fortaweso_me
 *    Work: http://lemonwi.se co-founder */
@font-face {
  font-family: "FontAwesome";
  src: url('/css/fonts/../fonts/font/fontawesome-webfont.eot');
  src: url('/css/fonts/../fonts/font/fontawesome-webfont.eot?#iefix') format('eot'), url('/css/fonts/../fonts/font/fontawesome-webfont.woff') format('woff'), url('/css/fonts/../fonts/font/fontawesome-webfont.ttf') format('truetype'), url('/css/fonts/../fonts/font/fontawesome-webfont.otf') format('opentype'), url('/css/fonts/../fonts/font/fontawesome-webfont.svgz#FontAwesomeRegular') format('svg'), url('/css/fonts/../fonts/font/fontawesome-webfont.svg#FontAwesomeRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* line 29, ../scss/lib/_font-awesome.sass */
[class^="icon-"],
[class*=" icon-"] {
  display: inline;
  width: auto;
  height: auto;
  line-height: inherit;
  vertical-align: baseline;
  background-image: none;
  background-position: 0% 0%;
  background-repeat: repeat;
}

/* line 40, ../scss/lib/_font-awesome.sass */
li[class^="icon-"],
li[class*=" icon-"] {
  display: block;
}

/*  Font Awesome styles
 *  ------------------------------------------------------- */
/* line 47, ../scss/lib/_font-awesome.sass */
[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  text-decoration: inherit;
}

/* line 55, ../scss/lib/_font-awesome.sass */
a [class^="icon-"],
a [class*=" icon-"] {
  display: inline-block;
  text-decoration: inherit;
}

/* line 61, ../scss/lib/_font-awesome.sass */
.icon-large:before {
  vertical-align: top;
  font-size: 4/3em;
}

/* line 66, ../scss/lib/_font-awesome.sass */
.btn [class^="icon-"],
.btn [class*=" icon-"] {
  /* keeps button heights with and without icons the same */
  line-height: 0.9em;
}

/* line 72, ../scss/lib/_font-awesome.sass */
li [class^="icon-"],
li [class*=" icon-"] {
  display: inline-block;
  width: 1.25em;
  text-align: center;
}
/* line 77, ../scss/lib/_font-awesome.sass */
li .icon-large[class^="icon-"],
li .icon-large[class*=" icon-"] {
  width: 1.875em;
}

/* line 82, ../scss/lib/_font-awesome.sass */
li[class^="icon-"],
li[class*=" icon-"] {
  margin-left: 0;
  list-style-type: none;
}
/* line 86, ../scss/lib/_font-awesome.sass */
li[class^="icon-"]:before,
li[class*=" icon-"]:before {
  text-indent: -2em;
  text-align: center;
}
/* line 89, ../scss/lib/_font-awesome.sass */
li[class^="icon-"].icon-large:before,
li[class*=" icon-"].icon-large:before {
  text-indent: -4/3em;
}

/*  Font Awesome uses the Unicode Private Use Area (PUA) to ensure screen
 *  readers do not read off random characters that represent icons */
/* line 94, ../scss/lib/_font-awesome.sass */
.icon-glass:before {
  content: "\f000";
}

/* line 97, ../scss/lib/_font-awesome.sass */
.icon-music:before {
  content: "\f001";
}

/* line 100, ../scss/lib/_font-awesome.sass */
.icon-search:before {
  content: "\f002";
}

/* line 103, ../scss/lib/_font-awesome.sass */
.icon-envelope:before {
  content: "\f003";
}

/* line 106, ../scss/lib/_font-awesome.sass */
.icon-heart:before {
  content: "\f004";
}

/* line 109, ../scss/lib/_font-awesome.sass */
.icon-star:before {
  content: "\f005";
}

/* line 112, ../scss/lib/_font-awesome.sass */
.icon-star-empty:before {
  content: "\f006";
}

/* line 115, ../scss/lib/_font-awesome.sass */
.icon-user:before {
  content: "\f007";
}

/* line 118, ../scss/lib/_font-awesome.sass */
.icon-film:before {
  content: "\f008";
}

/* line 121, ../scss/lib/_font-awesome.sass */
.icon-th-large:before {
  content: "\f009";
}

/* line 124, ../scss/lib/_font-awesome.sass */
.icon-th:before {
  content: "\f00a";
}

/* line 127, ../scss/lib/_font-awesome.sass */
.icon-th-list:before {
  content: "\f00b";
}

/* line 130, ../scss/lib/_font-awesome.sass */
.icon-ok:before {
  content: "\f00c";
}

/* line 133, ../scss/lib/_font-awesome.sass */
.icon-remove:before {
  content: "\f00d";
}

/* line 136, ../scss/lib/_font-awesome.sass */
.icon-zoom-in:before {
  content: "\f00e";
}

/* line 139, ../scss/lib/_font-awesome.sass */
.icon-zoom-out:before {
  content: "\f010";
}

/* line 142, ../scss/lib/_font-awesome.sass */
.icon-off:before {
  content: "\f011";
}

/* line 145, ../scss/lib/_font-awesome.sass */
.icon-signal:before {
  content: "\f012";
}

/* line 148, ../scss/lib/_font-awesome.sass */
.icon-cog:before {
  content: "\f013";
}

/* line 151, ../scss/lib/_font-awesome.sass */
.icon-trash:before {
  content: "\f014";
}

/* line 154, ../scss/lib/_font-awesome.sass */
.icon-home:before {
  content: "\f015";
}

/* line 157, ../scss/lib/_font-awesome.sass */
.icon-file:before {
  content: "\f016";
}

/* line 160, ../scss/lib/_font-awesome.sass */
.icon-time:before {
  content: "\f017";
}

/* line 163, ../scss/lib/_font-awesome.sass */
.icon-road:before {
  content: "\f018";
}

/* line 166, ../scss/lib/_font-awesome.sass */
.icon-download-alt:before {
  content: "\f019";
}

/* line 169, ../scss/lib/_font-awesome.sass */
.icon-download:before {
  content: "\f01a";
}

/* line 172, ../scss/lib/_font-awesome.sass */
.icon-upload:before {
  content: "\f01b";
}

/* line 175, ../scss/lib/_font-awesome.sass */
.icon-inbox:before {
  content: "\f01c";
}

/* line 178, ../scss/lib/_font-awesome.sass */
.icon-play-circle:before {
  content: "\f01d";
}

/* line 181, ../scss/lib/_font-awesome.sass */
.icon-repeat:before {
  content: "\f01e";
}

/* \f020 is not a valid unicode character. all shifted one down */
/* line 185, ../scss/lib/_font-awesome.sass */
.icon-refresh:before {
  content: "\f021";
}

/* line 188, ../scss/lib/_font-awesome.sass */
.icon-list-alt:before {
  content: "\f022";
}

/* line 191, ../scss/lib/_font-awesome.sass */
.icon-lock:before {
  content: "\f023";
}

/* line 194, ../scss/lib/_font-awesome.sass */
.icon-flag:before {
  content: "\f024";
}

/* line 197, ../scss/lib/_font-awesome.sass */
.icon-headphones:before {
  content: "\f025";
}

/* line 200, ../scss/lib/_font-awesome.sass */
.icon-volume-off:before {
  content: "\f026";
}

/* line 203, ../scss/lib/_font-awesome.sass */
.icon-volume-down:before {
  content: "\f027";
}

/* line 206, ../scss/lib/_font-awesome.sass */
.icon-volume-up:before {
  content: "\f028";
}

/* line 209, ../scss/lib/_font-awesome.sass */
.icon-qrcode:before {
  content: "\f029";
}

/* line 212, ../scss/lib/_font-awesome.sass */
.icon-barcode:before {
  content: "\f02a";
}

/* line 215, ../scss/lib/_font-awesome.sass */
.icon-tag:before {
  content: "\f02b";
}

/* line 218, ../scss/lib/_font-awesome.sass */
.icon-tags:before {
  content: "\f02c";
}

/* line 221, ../scss/lib/_font-awesome.sass */
.icon-book:before {
  content: "\f02d";
}

/* line 224, ../scss/lib/_font-awesome.sass */
.icon-bookmark:before {
  content: "\f02e";
}

/* line 227, ../scss/lib/_font-awesome.sass */
.icon-print:before {
  content: "\f02f";
}

/* line 230, ../scss/lib/_font-awesome.sass */
.icon-camera:before {
  content: "\f030";
}

/* line 233, ../scss/lib/_font-awesome.sass */
.icon-font:before {
  content: "\f031";
}

/* line 236, ../scss/lib/_font-awesome.sass */
.icon-bold:before {
  content: "\f032";
}

/* line 239, ../scss/lib/_font-awesome.sass */
.icon-italic:before {
  content: "\f033";
}

/* line 242, ../scss/lib/_font-awesome.sass */
.icon-text-height:before {
  content: "\f034";
}

/* line 245, ../scss/lib/_font-awesome.sass */
.icon-text-width:before {
  content: "\f035";
}

/* line 248, ../scss/lib/_font-awesome.sass */
.icon-align-left:before {
  content: "\f036";
}

/* line 251, ../scss/lib/_font-awesome.sass */
.icon-align-center:before {
  content: "\f037";
}

/* line 254, ../scss/lib/_font-awesome.sass */
.icon-align-right:before {
  content: "\f038";
}

/* line 257, ../scss/lib/_font-awesome.sass */
.icon-align-justify:before {
  content: "\f039";
}

/* line 260, ../scss/lib/_font-awesome.sass */
.icon-list:before {
  content: "\f03a";
}

/* line 263, ../scss/lib/_font-awesome.sass */
.icon-indent-left:before {
  content: "\f03b";
}

/* line 266, ../scss/lib/_font-awesome.sass */
.icon-indent-right:before {
  content: "\f03c";
}

/* line 269, ../scss/lib/_font-awesome.sass */
.icon-facetime-video:before {
  content: "\f03d";
}

/* line 272, ../scss/lib/_font-awesome.sass */
.icon-picture:before {
  content: "\f03e";
}

/* line 275, ../scss/lib/_font-awesome.sass */
.icon-pencil:before {
  content: "\f040";
}

/* line 278, ../scss/lib/_font-awesome.sass */
.icon-map-marker:before {
  content: "\f041";
}

/* line 281, ../scss/lib/_font-awesome.sass */
.icon-adjust:before {
  content: "\f042";
}

/* line 284, ../scss/lib/_font-awesome.sass */
.icon-tint:before {
  content: "\f043";
}

/* line 287, ../scss/lib/_font-awesome.sass */
.icon-edit:before {
  content: "\f044";
}

/* line 290, ../scss/lib/_font-awesome.sass */
.icon-share:before {
  content: "\f045";
}

/* line 293, ../scss/lib/_font-awesome.sass */
.icon-check:before {
  content: "\f046";
}

/* line 296, ../scss/lib/_font-awesome.sass */
.icon-move:before {
  content: "\f047";
}

/* line 299, ../scss/lib/_font-awesome.sass */
.icon-step-backward:before {
  content: "\f048";
}

/* line 302, ../scss/lib/_font-awesome.sass */
.icon-fast-backward:before {
  content: "\f049";
}

/* line 305, ../scss/lib/_font-awesome.sass */
.icon-backward:before {
  content: "\f04a";
}

/* line 308, ../scss/lib/_font-awesome.sass */
.icon-play:before {
  content: "\f04b";
}

/* line 311, ../scss/lib/_font-awesome.sass */
.icon-pause:before {
  content: "\f04c";
}

/* line 314, ../scss/lib/_font-awesome.sass */
.icon-stop:before {
  content: "\f04d";
}

/* line 317, ../scss/lib/_font-awesome.sass */
.icon-forward:before {
  content: "\f04e";
}

/* line 320, ../scss/lib/_font-awesome.sass */
.icon-fast-forward:before {
  content: "\f050";
}

/* line 323, ../scss/lib/_font-awesome.sass */
.icon-step-forward:before {
  content: "\f051";
}

/* line 326, ../scss/lib/_font-awesome.sass */
.icon-eject:before {
  content: "\f052";
}

/* line 329, ../scss/lib/_font-awesome.sass */
.icon-chevron-left:before {
  content: "\f053";
}

/* line 332, ../scss/lib/_font-awesome.sass */
.icon-chevron-right:before {
  content: "\f054";
}

/* line 335, ../scss/lib/_font-awesome.sass */
.icon-plus-sign:before {
  content: "\f055";
}

/* line 338, ../scss/lib/_font-awesome.sass */
.icon-minus-sign:before {
  content: "\f056";
}

/* line 341, ../scss/lib/_font-awesome.sass */
.icon-remove-sign:before {
  content: "\f057";
}

/* line 344, ../scss/lib/_font-awesome.sass */
.icon-ok-sign:before {
  content: "\f058";
}

/* line 347, ../scss/lib/_font-awesome.sass */
.icon-question-sign:before {
  content: "\f059";
}

/* line 350, ../scss/lib/_font-awesome.sass */
.icon-info-sign:before {
  content: "\f05a";
}

/* line 353, ../scss/lib/_font-awesome.sass */
.icon-screenshot:before {
  content: "\f05b";
}

/* line 356, ../scss/lib/_font-awesome.sass */
.icon-remove-circle:before {
  content: "\f05c";
}

/* line 359, ../scss/lib/_font-awesome.sass */
.icon-ok-circle:before {
  content: "\f05d";
}

/* line 362, ../scss/lib/_font-awesome.sass */
.icon-ban-circle:before {
  content: "\f05e";
}

/* line 365, ../scss/lib/_font-awesome.sass */
.icon-arrow-left:before {
  content: "\f060";
}

/* line 368, ../scss/lib/_font-awesome.sass */
.icon-arrow-right:before {
  content: "\f061";
}

/* line 371, ../scss/lib/_font-awesome.sass */
.icon-arrow-up:before {
  content: "\f062";
}

/* line 374, ../scss/lib/_font-awesome.sass */
.icon-arrow-down:before {
  content: "\f063";
}

/* line 377, ../scss/lib/_font-awesome.sass */
.icon-share-alt:before {
  content: "\f064";
}

/* line 380, ../scss/lib/_font-awesome.sass */
.icon-resize-full:before {
  content: "\f065";
}

/* line 383, ../scss/lib/_font-awesome.sass */
.icon-resize-small:before {
  content: "\f066";
}

/* line 386, ../scss/lib/_font-awesome.sass */
.icon-plus:before {
  content: "\f067";
}

/* line 389, ../scss/lib/_font-awesome.sass */
.icon-minus:before {
  content: "\f068";
}

/* line 392, ../scss/lib/_font-awesome.sass */
.icon-asterisk:before {
  content: "\f069";
}

/* line 395, ../scss/lib/_font-awesome.sass */
.icon-exclamation-sign:before {
  content: "\f06a";
}

/* line 398, ../scss/lib/_font-awesome.sass */
.icon-gift:before {
  content: "\f06b";
}

/* line 401, ../scss/lib/_font-awesome.sass */
.icon-leaf:before {
  content: "\f06c";
}

/* line 404, ../scss/lib/_font-awesome.sass */
.icon-fire:before {
  content: "\f06d";
}

/* line 407, ../scss/lib/_font-awesome.sass */
.icon-eye-open:before {
  content: "\f06e";
}

/* line 410, ../scss/lib/_font-awesome.sass */
.icon-eye-close:before {
  content: "\f070";
}

/* line 413, ../scss/lib/_font-awesome.sass */
.icon-warning-sign:before {
  content: "\f071";
}

/* line 416, ../scss/lib/_font-awesome.sass */
.icon-plane:before {
  content: "\f072";
}

/* line 419, ../scss/lib/_font-awesome.sass */
.icon-calendar:before {
  content: "\f073";
}

/* line 422, ../scss/lib/_font-awesome.sass */
.icon-random:before {
  content: "\f074";
}

/* line 425, ../scss/lib/_font-awesome.sass */
.icon-comment:before {
  content: "\f075";
}

/* line 428, ../scss/lib/_font-awesome.sass */
.icon-magnet:before {
  content: "\f076";
}

/* line 431, ../scss/lib/_font-awesome.sass */
.icon-chevron-up:before {
  content: "\f077";
}

/* line 434, ../scss/lib/_font-awesome.sass */
.icon-chevron-down:before {
  content: "\f078";
}

/* line 437, ../scss/lib/_font-awesome.sass */
.icon-retweet:before {
  content: "\f079";
}

/* line 440, ../scss/lib/_font-awesome.sass */
.icon-shopping-cart:before {
  content: "\f07a";
}

/* line 443, ../scss/lib/_font-awesome.sass */
.icon-folder-close:before {
  content: "\f07b";
}

/* line 446, ../scss/lib/_font-awesome.sass */
.icon-folder-open:before {
  content: "\f07c";
}

/* line 449, ../scss/lib/_font-awesome.sass */
.icon-resize-vertical:before {
  content: "\f07d";
}

/* line 452, ../scss/lib/_font-awesome.sass */
.icon-resize-horizontal:before {
  content: "\f07e";
}

/* line 455, ../scss/lib/_font-awesome.sass */
.icon-bar-chart:before {
  content: "\f080";
}

/* line 458, ../scss/lib/_font-awesome.sass */
.icon-twitter-sign:before {
  content: "\f081";
}

/* line 461, ../scss/lib/_font-awesome.sass */
.icon-facebook-sign:before {
  content: "\f082";
}

/* line 464, ../scss/lib/_font-awesome.sass */
.icon-camera-retro:before {
  content: "\f083";
}

/* line 467, ../scss/lib/_font-awesome.sass */
.icon-key:before {
  content: "\f084";
}

/* line 470, ../scss/lib/_font-awesome.sass */
.icon-cogs:before {
  content: "\f085";
}

/* line 473, ../scss/lib/_font-awesome.sass */
.icon-comments:before {
  content: "\f086";
}

/* line 476, ../scss/lib/_font-awesome.sass */
.icon-thumbs-up:before {
  content: "\f087";
}

/* line 479, ../scss/lib/_font-awesome.sass */
.icon-thumbs-down:before {
  content: "\f088";
}

/* line 482, ../scss/lib/_font-awesome.sass */
.icon-star-half:before {
  content: "\f089";
}

/* line 485, ../scss/lib/_font-awesome.sass */
.icon-heart-empty:before {
  content: "\f08a";
}

/* line 488, ../scss/lib/_font-awesome.sass */
.icon-signout:before {
  content: "\f08b";
}

/* line 491, ../scss/lib/_font-awesome.sass */
.icon-linkedin-sign:before {
  content: "\f08c";
}

/* line 494, ../scss/lib/_font-awesome.sass */
.icon-pushpin:before {
  content: "\f08d";
}

/* line 497, ../scss/lib/_font-awesome.sass */
.icon-external-link:before {
  content: "\f08e";
}

/* line 500, ../scss/lib/_font-awesome.sass */
.icon-signin:before {
  content: "\f090";
}

/* line 503, ../scss/lib/_font-awesome.sass */
.icon-trophy:before {
  content: "\f091";
}

/* line 506, ../scss/lib/_font-awesome.sass */
.icon-github-sign:before {
  content: "\f092";
}

/* line 509, ../scss/lib/_font-awesome.sass */
.icon-upload-alt:before {
  content: "\f093";
}

/* line 512, ../scss/lib/_font-awesome.sass */
.icon-lemon:before {
  content: "\f094";
}

/* line 3, ../scss/_type.scss */
h1, h2, h3, p, li {
  -webkit-transition: all 125ms;
  -moz-transition: all 125ms;
  -ms-transition: all 125ms;
  -o-transition: all 125ms;
  transition: all 125ms;
  -webkit-transform: translateZ(0, 0, 0);
  -moz-transform: translateZ(0, 0, 0);
  -ms-transform: translateZ(0, 0, 0);
  -o-transform: translateZ(0, 0, 0);
  transform: translateZ(0, 0, 0);
}

/* line 8, ../scss/_type.scss */
h1 + p, h2 + p, h3 + p, h4 + p {
  margin-top: 0;
}

/* line 12, ../scss/_type.scss */
h1 {
  color: rgba(0, 0, 0, 0.65);
  font-size: 1.8em;
  line-height: 1.042em;
}
@media (min-width: 50.5em) {
  /* line 12, ../scss/_type.scss */
  h1 {
    font-size: 2.75em;
    line-height: 1.091em;
  }
}
/* line 20, ../scss/_type.scss */
.front h1 {
  padding-top: 1.091em;
}
/* line 22, ../scss/_type.scss */
.front h1 small {
  font-weight: normal;
  font-size: 0.688em;
  line-height: 1.091em;
  color: rgba(0, 0, 0, 0.35);
}
@media (min-width: 50.5em) {
  /* line 20, ../scss/_type.scss */
  .front h1 {
    font-size: 3em;
    line-height: 1.5em;
    margin-bottom: 1.5em;
  }
}

/* line 34, ../scss/_type.scss */
h2 {
  color: rgba(0, 0, 0, 0.85);
  font-size: 1.5em;
  line-height: 1.15em;
  margin-top: 2em;
  margin-bottom: 0.5em;
}
/* line 40, ../scss/_type.scss */
header h2 {
  font-size: 1em;
  line-height: 1.725em;
  margin-top: 0em;
}
@media (min-width: 50.5em) {
  /* line 40, ../scss/_type.scss */
  header h2 {
    font-size: 1.5em;
    line-height: 1.5em;
  }
}

/* line 52, ../scss/_type.scss */
h3 {
  margin-bottom: 0em;
  color: rgba(0, 0, 0, 0.85);
  font-style: italic;
}

/* line 112, ../scss/_type.scss */
ul, ol {
  padding-left: 1.5em;
}

/* line 115, ../scss/_type.scss */
p, li, blockquote {
  margin-bottom: 1.5em;
  margin-top: 0;
}
/* line 118, ../scss/_type.scss */
p:first-child, li:first-child, blockquote:first-child {
  margin-top: 1.5em;
}

/* line 186, ../scss/_type.scss */
a {
  -webkit-transition: 125ms ease-out;
  -moz-transition: 125ms ease-out;
  -ms-transition: 125ms ease-out;
  -o-transition: 125ms ease-out;
  transition: 125ms ease-out;
}
/* line 187, ../scss/_type.scss */
a, a:visited {
  color: #22669b;
}
/* line 191, ../scss/_type.scss */
a:hover {
  color: #d5613e;
}

/* line 6, ../scss/_grid.scss */
.container, [role="document"] {
  max-width: 26.5em;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1.5em;
  padding-right: 1.5em;
}
/* line 38, ../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.container:after, [role="document"]:after {
  content: "";
  display: table;
  clear: both;
}
@media (min-width: 50.5em) {
  /* line 6, ../scss/_grid.scss */
  .container, [role="document"] {
    max-width: 47.5em;
  }
}

/* line 1, ../scss/_appearance.scss */
nav {
  text-align: center;
  background: #22669b;
  padding-top: .5em;
  padding-bottom: .5em;
}
/* line 4, ../scss/_appearance.scss */
nav ol, nav ul {
  overflow: hidden;
}
/* line 9, ../scss/_appearance.scss */
nav li {
  text-decoration: none;
  float: left;
}
/* line 12, ../scss/_appearance.scss */
nav li a {
  line-height: 2;
  text-decoration: none;
}
/* line 13, ../scss/_appearance.scss */
nav li a:link, nav li a:visited {
  color: white;
}
/* line 21, ../scss/_appearance.scss */
.front nav li {
  width: 25%;
}
/* line 24, ../scss/_appearance.scss */
nav li span {
  display: none;
}
/* line 27, ../scss/_appearance.scss */
nav li [class^="icon-"] {
  font-size: 18px;
  -webkit-transition: 125ms;
  -moz-transition: 125ms;
  -ms-transition: 125ms;
  -o-transition: 125ms;
  transition: 125ms;
  -webkit-transform: translateZ(0, 0, 0);
  -moz-transform: translateZ(0, 0, 0);
  -ms-transform: translateZ(0, 0, 0);
  -o-transform: translateZ(0, 0, 0);
  transform: translateZ(0, 0, 0);
}
/* line 31, ../scss/_appearance.scss */
nav li [class^="icon-"]:hover {
  -webkit-transform: scale(1.45, 1.45);
  -moz-transform: scale(1.45, 1.45);
  -ms-transform: scale(1.45, 1.45);
  -o-transform: scale(1.45, 1.45);
  transform: scale(1.45, 1.45);
}
@media screen and (min-width: 1000px) {
  /* line 9, ../scss/_appearance.scss */
  nav li {
    float: left;
    font-size: 18px;
    width: 50%;
  }
}

/* line 44, ../scss/_appearance.scss */
[role="banner"] small {
  display: block;
}

/* line 49, ../scss/_appearance.scss */
[role="footer"] {
  text-align: center;
  color: rgba(0, 0, 0, 0.5);
}

@font-face {
  font-family: "Zocial";
  src: url('/css/fonts/zocial/zocial-regular-webfont.eot');
  src: url('/css/fonts/zocial/zocial-regular-webfont.eot?#iefix') format('eot'), url('/css/fonts/zocial/zocial-regular-webfont.woff') format('woff'), url('/css/fonts/zocial/zocial-regular-webfont.ttf') format('truetype'), url('/css/fonts/zocial/zocial-regular-webfont.svg') format('svg');
}

/* line 14, ../../../../.rvm/gems/ruby-1.9.2-p290/gems/zocial-0.0.4/stylesheets/partials/_fonts.sass */
.ff-zocial, .zocial > span:before {
  font-family: "Zocial", sans-serif;
}

/* line 25, ../../../../.rvm/gems/ruby-1.9.2-p290/gems/zocial-0.0.4/stylesheets/partials/_fonts.sass */
.ff-helvetica, .ff-arial, .zocial {
  font-family: Clean, "Helvetica-Neue", Helvetica, Arial, sans-serif;
}

/* line 3, ../../../../.rvm/gems/ruby-1.9.2-p290/gems/zocial-0.0.4/stylesheets/partials/_base.sass */
.zocial, .zocial > span {
  -webkit-border-radius: 0.2em;
  -moz-border-radius: 0.2em;
  -ms-border-radius: 0.2em;
  -o-border-radius: 0.2em;
  border-radius: 0.2em;
  position: relative;
}

/* line 8, ../../../../.rvm/gems/ruby-1.9.2-p290/gems/zocial-0.0.4/stylesheets/partials/_base.sass */
.zocial {
  -webkit-box-shadow: inset 0 0.063em 0 rgba(255, 255, 255, 0.4), inset 0 0 0.063em rgba(255, 255, 255, 0.6), 0 0.063em 0 rgba(255, 255, 255, 0.3);
  -moz-box-shadow: inset 0 0.063em 0 rgba(255, 255, 255, 0.4), inset 0 0 0.063em rgba(255, 255, 255, 0.6), 0 0.063em 0 rgba(255, 255, 255, 0.3);
  box-shadow: inset 0 0.063em 0 rgba(255, 255, 255, 0.4), inset 0 0 0.063em rgba(255, 255, 255, 0.6), 0 0.063em 0 rgba(255, 255, 255, 0.3);
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-bottom-color: rgba(0, 0, 0, 0.4);
  color: white !important;
  cursor: pointer;
  display: inline-block;
  font-size: 1.8em;
  outline: none;
  padding: 0;
  text-decoration: none !important;
}
/* line 24, ../../../../.rvm/gems/ruby-1.9.2-p290/gems/zocial-0.0.4/stylesheets/partials/_base.sass */
.zocial button::-moz-focus-inner {
  border: 0;
  padding: 0;
}
/* line 29, ../../../../.rvm/gems/ruby-1.9.2-p290/gems/zocial-0.0.4/stylesheets/partials/_base.sass */
.zocial.icon {
  width: 1.8em;
  overflow: hidden;
}
/* line 33, ../../../../.rvm/gems/ruby-1.9.2-p290/gems/zocial-0.0.4/stylesheets/partials/_base.sass */
.zocial > span {
  position: relative;
  display: inline-block;
  font-size: 80%;
  font-weight: bold;
  line-height: 2em;
  padding-right: 0.825em;
  white-space: nowrap;
}
/* line 41, ../../../../.rvm/gems/ruby-1.9.2-p290/gems/zocial-0.0.4/stylesheets/partials/_base.sass */
.zocial > span:before {
  -webkit-box-shadow: 0.075em 0 0 rgba(255, 255, 255, 0.25);
  -moz-box-shadow: 0.075em 0 0 rgba(255, 255, 255, 0.25);
  box-shadow: 0.075em 0 0 rgba(255, 255, 255, 0.25);
  border-right: 0.075em solid rgba(0, 0, 0, 0.1);
  display: block;
  float: left;
  font-size: 125%;
  font-style: normal;
  font-weight: normal;
  margin: 0.068em 0.5em 0 0;
  text-align: center;
  width: 1.75em;
}
/* line 55, ../../../../.rvm/gems/ruby-1.9.2-p290/gems/zocial-0.0.4/stylesheets/partials/_base.sass */
.zocial > span {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(255, 255, 255, 0.1)), color-stop(49%, rgba(255, 255, 255, 0.05)), color-stop(51%, rgba(0, 0, 0, 0.05)), color-stop(100%, rgba(0, 0, 0, 0.1)));
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.05) 49%, rgba(0, 0, 0, 0.05) 51%, rgba(0, 0, 0, 0.1));
  background: -moz-linear-gradient(top, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.05) 49%, rgba(0, 0, 0, 0.05) 51%, rgba(0, 0, 0, 0.1));
  background: -o-linear-gradient(top, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.05) 49%, rgba(0, 0, 0, 0.05) 51%, rgba(0, 0, 0, 0.1));
  background: -ms-linear-gradient(top, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.05) 49%, rgba(0, 0, 0, 0.05) 51%, rgba(0, 0, 0, 0.1));
  background: linear-gradient(top, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.05) 49%, rgba(0, 0, 0, 0.05) 51%, rgba(0, 0, 0, 0.1));
}
/* line 59, ../../../../.rvm/gems/ruby-1.9.2-p290/gems/zocial-0.0.4/stylesheets/partials/_base.sass */
.zocial:hover > span, .zocial:focus > span {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(255, 255, 255, 0.15)), color-stop(49%, rgba(255, 255, 255, 0.15)), color-stop(51%, rgba(0, 0, 0, 0.1)), color-stop(100%, rgba(0, 0, 0, 0.15)));
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15) 49%, rgba(0, 0, 0, 0.1) 51%, rgba(0, 0, 0, 0.15));
  background: -moz-linear-gradient(top, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15) 49%, rgba(0, 0, 0, 0.1) 51%, rgba(0, 0, 0, 0.15));
  background: -o-linear-gradient(top, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15) 49%, rgba(0, 0, 0, 0.1) 51%, rgba(0, 0, 0, 0.15));
  background: -ms-linear-gradient(top, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15) 49%, rgba(0, 0, 0, 0.1) 51%, rgba(0, 0, 0, 0.15));
  background: linear-gradient(top, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15) 49%, rgba(0, 0, 0, 0.1) 51%, rgba(0, 0, 0, 0.15));
}
/* line 63, ../../../../.rvm/gems/ruby-1.9.2-p290/gems/zocial-0.0.4/stylesheets/partials/_base.sass */
.zocial:active > span {
  background: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, rgba(255, 255, 255, 0.1)), color-stop(30%, rgba(255, 255, 255, 0)), color-stop(50%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.1)));
  background: -webkit-linear-gradient(bottom, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0) 30%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.1));
  background: -moz-linear-gradient(bottom, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0) 30%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.1));
  background: -o-linear-gradient(bottom, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0) 30%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.1));
  background: -ms-linear-gradient(bottom, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0) 30%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.1));
  background: linear-gradient(bottom, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0) 30%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.1));
}
/* line 67, ../../../../.rvm/gems/ruby-1.9.2-p290/gems/zocial-0.0.4/stylesheets/partials/_base.sass */
.zocial > span:before {
  content: "\0020";
}

/* line 9, ../../../../.rvm/gems/ruby-1.9.2-p290/gems/zocial-0.0.4/stylesheets/partials/_adjustments.sass */
.adjustment-1, .zocial.twitter, .zocial.github {
  -webkit-box-shadow: inset 0 0.063em 0 rgba(255, 255, 255, 0.4), inset 0 0 0.063em rgba(255, 255, 255, 0.6), 0 0.063em 0 rgba(255, 255, 255, 0.3);
  -moz-box-shadow: inset 0 0.063em 0 rgba(255, 255, 255, 0.4), inset 0 0 0.063em rgba(255, 255, 255, 0.6), 0 0.063em 0 rgba(255, 255, 255, 0.3);
  box-shadow: inset 0 0.063em 0 rgba(255, 255, 255, 0.4), inset 0 0 0.063em rgba(255, 255, 255, 0.6), 0 0.063em 0 rgba(255, 255, 255, 0.3);
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
}

/* line 25, ../../../../.rvm/gems/ruby-1.9.2-p290/gems/zocial-0.0.4/stylesheets/partials/_adjustments.sass */
.adjustment-2, .zocial.twitter:focus > span, .zocial.github:hover > span, .zocial.github:focus > span {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(255, 255, 255, 0.5)), color-stop(49%, rgba(255, 255, 255, 0.2)), color-stop(51%, rgba(0, 0, 0, 0.05)), color-stop(100%, rgba(0, 0, 0, 0.15)));
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.2) 49%, rgba(0, 0, 0, 0.05) 51%, rgba(0, 0, 0, 0.15));
  background: -moz-linear-gradient(top, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.2) 49%, rgba(0, 0, 0, 0.05) 51%, rgba(0, 0, 0, 0.15));
  background: -o-linear-gradient(top, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.2) 49%, rgba(0, 0, 0, 0.05) 51%, rgba(0, 0, 0, 0.15));
  background: -ms-linear-gradient(top, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.2) 49%, rgba(0, 0, 0, 0.05) 51%, rgba(0, 0, 0, 0.15));
  background: linear-gradient(top, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.2) 49%, rgba(0, 0, 0, 0.05) 51%, rgba(0, 0, 0, 0.15));
}

/* line 35, ../../../../.rvm/gems/ruby-1.9.2-p290/gems/zocial-0.0.4/stylesheets/partials/_adjustments.sass */
.adjustment-3, .zocial.twitter:active > span, .zocial.github:active > span {
  background: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(30%, rgba(255, 255, 255, 0)), color-stop(50%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.1)));
  background: -webkit-linear-gradient(bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0) 30%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.1));
  background: -moz-linear-gradient(bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0) 30%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.1));
  background: -o-linear-gradient(bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0) 30%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.1));
  background: -ms-linear-gradient(bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0) 30%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.1));
  background: linear-gradient(bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0) 30%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.1));
}

/* line 390, ../../../../.rvm/gems/ruby-1.9.2-p290/gems/zocial-0.0.4/stylesheets/partials/_mixins.sass */
.zocial.twitter {
  background: #e9f9ff;
  color: #3c6b9c !important;
}
/* line 398, ../../../../.rvm/gems/ruby-1.9.2-p290/gems/zocial-0.0.4/stylesheets/partials/_mixins.sass */
.zocial.twitter > span:before {
  content: "T";
}

/* line 111, ../../../../.rvm/gems/ruby-1.9.2-p290/gems/zocial-0.0.4/stylesheets/partials/_mixins.sass */
.zocial.dribbble {
  background: #ea4c89;
}
/* line 113, ../../../../.rvm/gems/ruby-1.9.2-p290/gems/zocial-0.0.4/stylesheets/partials/_mixins.sass */
.zocial.dribbble > span:before {
  content: "D";
}

/* line 312, ../../../../.rvm/gems/ruby-1.9.2-p290/gems/zocial-0.0.4/stylesheets/partials/_mixins.sass */
.zocial.pinboard {
  background: blue;
}
/* line 314, ../../../../.rvm/gems/ruby-1.9.2-p290/gems/zocial-0.0.4/stylesheets/partials/_mixins.sass */
.zocial.pinboard > span:before {
  content: "n";
}

/* line 279, ../../../../.rvm/gems/ruby-1.9.2-p290/gems/zocial-0.0.4/stylesheets/partials/_mixins.sass */
.zocial.linkedin {
  background: #0083a8;
}
/* line 281, ../../../../.rvm/gems/ruby-1.9.2-p290/gems/zocial-0.0.4/stylesheets/partials/_mixins.sass */
.zocial.linkedin > span:before {
  content: "L";
}

/* line 174, ../../../../.rvm/gems/ruby-1.9.2-p290/gems/zocial-0.0.4/stylesheets/partials/_mixins.sass */
.zocial.github {
  color: #050505 !important;
  background: #fbfbfb;
}
/* line 182, ../../../../.rvm/gems/ruby-1.9.2-p290/gems/zocial-0.0.4/stylesheets/partials/_mixins.sass */
.zocial.github > span:before {
  content: "g";
}

/* line 273, ../../../../.rvm/gems/ruby-1.9.2-p290/gems/zocial-0.0.4/stylesheets/partials/_mixins.sass */
.zocial.lastfm {
  background: #dc1a23;
}
/* line 275, ../../../../.rvm/gems/ruby-1.9.2-p290/gems/zocial-0.0.4/stylesheets/partials/_mixins.sass */
.zocial.lastfm > span:before {
  content: "l";
}

/* line 10, ../scss/components/_social.scss */
#social {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #e6e6e6));
  background: -webkit-linear-gradient(#ffffff, #e6e6e6);
  background: -moz-linear-gradient(#ffffff, #e6e6e6);
  background: -o-linear-gradient(#ffffff, #e6e6e6);
  background: -ms-linear-gradient(#ffffff, #e6e6e6);
  background: linear-gradient(#ffffff, #e6e6e6);
  padding-bottom: 3em;
}
/* line 17, ../scss/components/_social.scss */
#social h2 {
  text-align: center;
}
/* line 21, ../scss/components/_social.scss */
.fontface #social ul {
  list-style: none;
  overflow: hidden;
  margin: 0;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  margin-bottom: 2em;
  padding-left: 0;
}
/* line 11, ../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/typography/lists/_bullets.scss */
.fontface #social ul li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
}
/* line 30, ../scss/components/_social.scss */
.fontface #social li {
  width: 25%;
  float: left;
  margin-bottom: 1.5em;
  margin-top: 1.5em;
}
@media (min-width: 50.5em) {
  /* line 30, ../scss/components/_social.scss */
  .fontface #social li {
    width: 14.286%;
  }
}
/* line 39, ../scss/components/_social.scss */
.fontface #social a {
  display: block;
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  -ms-border-radius: 1em;
  -o-border-radius: 1em;
  border-radius: 1em;
  text-decoration: none;
  text-shadow: white 0 2px 0;
  -webkit-transition: 125ms ease-in;
  -moz-transition: 125ms ease-in;
  -ms-transition: 125ms ease-in;
  -o-transition: 125ms ease-in;
  transition: 125ms ease-in;
  text-align: center;
  font-size: 2.5em;
  font-family: zocial;
  color: rgba(0, 0, 0, 0.35);
}
/* line 50, ../scss/components/_social.scss */
.fontface #social a:hover {
  text-shadow: white 0 2px 10px;
}
/* line 54, ../scss/components/_social.scss */
.fontface #social span {
  display: none;
}
/* line 57, ../scss/components/_social.scss */
.fontface #social .twitter a:hover {
  color: #46c0fb;
}
/* line 60, ../scss/components/_social.scss */
.fontface #social .linkedin a:hover {
  color: #0083a8;
}
/* line 63, ../scss/components/_social.scss */
.fontface #social .dribbble a:hover {
  color: #ea4c89;
}
/* line 66, ../scss/components/_social.scss */
.fontface #social .github a:hover {
  color: black;
}
/* line 69, ../scss/components/_social.scss */
.fontface #social .lastfm a:hover {
  color: #dc1a23;
}
/* line 72, ../scss/components/_social.scss */
.fontface #social .rdio a:hover {
  color: #00a9f9;
}
/* line 75, ../scss/components/_social.scss */
.fontface #social .pinboard a:hover {
  color: blue;
}

/* line 84, ../scss/components/_social.scss */
[role="footer"] {
  font-size: 0.75em;
  line-height: 2em;
}

/* line 2, ../scss/components/_front.scss */
.front blockquote {
  margin-left: 0;
  margin-right: 0;
}
/* line 5, ../scss/components/_front.scss */
.front blockquote p {
  margin-top: 0;
}
/* line 9, ../scss/components/_front.scss */
.front ol, .front ul {
  list-style: none;
  padding-left: 0;
}
/* line 11, ../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/typography/lists/_bullets.scss */
.front ol li, .front ul li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
}
/* line 14, ../scss/components/_front.scss */
.front h2 small {
  display: block;
  font-weight: bold;
  color: #a5bbcc;
  font-size: 0.75em;
  line-height: 2em;
}
/* line 21, ../scss/components/_front.scss */
.front a {
  text-decoration: none;
}

/* line 26, ../scss/components/_front.scss */
.front #about, .front #design {
  display: none;
}

/* line 2, ../scss/components/_posts.scss */
.single nav {
  margin: 0;
  padding: 0;
  margin-bottom: 3em;
}
/* line 7, ../scss/components/_posts.scss */
.single nav li {
  width: 10%;
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  margin: 0;
  padding: 0 1em;
}
/* line 7, ../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/css3/_inline-block.scss */
.single nav li {
  *display: inline;
}
@media (min-width: 50.5em) {
  /* line 12, ../scss/components/_posts.scss */
  .single nav li i {
    font-size: 2em;
    line-height: 1.5em;
  }
}
/* line 17, ../scss/components/_posts.scss */
.single nav li:first-child {
  width: 45%;
  text-align: left;
}
/* line 21, ../scss/components/_posts.scss */
.single nav li:last-child {
  width: 45%;
  text-align: right;
}
/* line 28, ../scss/components/_posts.scss */
.single .byline {
  color: rgba(0, 0, 0, 0.45);
  background: white;
  padding-bottom: 0.75em;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  border: rgba(0, 0, 0, 0.25) double;
  border-width: 0 0 3px 0;
}
/* line 31, ../scss/components/_posts.scss */
.single .byline a {
  color: rgba(0, 0, 0, 0.65);
}
/* line 34, ../scss/components/_posts.scss */
.single .byline p {
  margin: 0;
}
@media (min-width: 50.5em) {
  /* line 28, ../scss/components/_posts.scss */
  .single .byline {
    padding-bottom: 1.5em;
    margin-bottom: 3em;
  }
}

/* line 1, ../scss/posts/_steve.scss */
.steve {
  background: #1D1D1D;
  color: #ededed;
}
/* line 5, ../scss/posts/_steve.scss */
.steve h1, .steve h2 {
  color: #FDFDFD;
}
/* line 9, ../scss/posts/_steve.scss */
.steve article .byline {
  color: #cccccc;
}
/* line 12, ../scss/posts/_steve.scss */
.steve article a {
  color: #fbfbfb;
}
/* line 18, ../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
.steve article a:visited {
  color: #fbfbfb;
}
/* line 24, ../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
.steve article a:hover {
  color: #fbfbfb;
}
/* line 27, ../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
.steve article a:active {
  color: #fbfbfb;
}
