header,section,footer,.featured,nav {
  padding: 2.5% 7.5%;
}
@include respond-to(desktop) {
  header {
    padding-bottom: 1em;
  }
}

nav {
  text-align: center;
  background: #1c1f35;
  ol,ul {
    @include clearfix;
  }
  padding-top: .5em;
  padding-bottom: .5em;
  li {
    text-decoration: none;
    float: left;
    a {
      &:link,&:visited {
        color: white;
      }
      // display: block;
      line-height: 2;
      // text-align: center;
      text-decoration: none;
    }
    .single & {
      width: 10%;
      &:first-child {
        width: 45%;
        text-align: left;
      }
      &:last-child {
        width: 45%;
        text-align: right
      }
    }
    .front & {
      width: 25%;
    }
    span {
      display: none;
    }
    [class^="icon-"] {
      font-size: 18px;
      @include transition(125ms);
      &:hover {
        @include transform(scale(1.35,1.35));
      }
    }
    @include respond-to(desktop) {
      float: left;
      font-size: 18px;
      width: 50%;
    }
  }
}

[role="banner"] {
  small {
    display: block;
  }
}

[role="footer"] {
  text-align: center;
}

// @font-face {
//   font-family: 'zocial';
//   font-style: normal;
//   font-weight: normal;
//   src: url('zocial-regular-webfont.eot');
//   src: url('zocial-regular-webfont.eot?#iefix') format('embedded-opentype'),
//     url('zocial-regular-webfont.woff') format('woff'),
//     url('zocial-regular-webfont.ttf') format('truetype'),
//     url('zocial-regular-webfont.svg#ZocialRegular') format('svg');
// }

// /* Appearance */
// body {
//   @include background(image-url('bkg/fancy_deboss.png'));
//   color: $text-color;
// }
// a {
//   @include transition(color .2s ease-in-out);
//   color: #4c71a9;
//   text-decoration: none;
//   &:visited {       
//     // font-style: italic;
//     // color: rgba(50,84,117,1);
//     // background-color: rgba(254,245,204,1);
//   }
//   &:hover {
//     color: rgba(115,141,169,1);
//     text-decoration: underline;
//   }
// }
// .writing {
//   li {
//     color: rgba(0,0,0,.25);
//   }
// }

// section, nav {
//   padding: 2em;
// }

// nav {
//   padding-top: 1em;
//   padding-bottom: 1em;
//   background: #d9dbec;
//   font-family: georgia;
//   border-top: 1px solid rgba(0,0,0,.85);
//   border-bottom: 1px solid rgba(0,0,0,.08);
//   li {
//     @include inline-block;
//   }
//   a {
//     color: #292835;
//     padding: 0 .5em;
//     font-size: 16px;
//   }
// }

// [role="banner"] {
//   background: #2e2f3a;
//   @include background(radial-gradient(#2e2f3a .5,mix(#2e2f3a,black,80) .95));
//   color: #f1f2f3;
//   padding: 100px 0;
//   h1 {
//     margin: 0;
//     text-align: center;
//     margin: 0 2em;
//     text-shadow: rgba(0,0,0,.55) 0 1px;
//     font-size: 36px;
//     small {
//       display: block;
//       font-weight: normal;
//       font-size: 15px;
//       color: rgba(#f1f2f3,.75);
//     }
//   }
// }