@import "lib/font-awesome";

h1,h2,h3,h4,h5,h6 {
	abbr[title] {
		border: none;
	}
	small {
		font-size: inherit;
		font-weight: normal;
	}
	// &:first-child {
	// 	margin-top: 0;
	// }
}

body {
	font-family: $sans-serif-stack;
}

//
//	Document Copy
//
[role="document"] {
	h2 {
		font-weight: normal;
		font-size: 18px;
		line-height: 1.5;
		font-family: $serif-stack;
		color: rgba(0,0,0,.65);
	}
}

//
//  Body Copy
//
[role="main"] {
	p,li {
		line-height: 1.5;
	}
}

a {
	&,&:visited {
		color: #19244d;
	}
	@include transition(125ms ease-out);
	&:hover {
		color: adjust-hue(lighten(#19244d,10),90);
	}
}

::-moz-selection { background: adjust-hue(lighten(#19244d,10),90); color: #fff; text-shadow: none; }
::selection { background: adjust-hue(lighten(#19244d,10),90); color: #fff; text-shadow: none; }