<ul>                                                                
  <li class="twitter"><a title="@ericdfields on Twitter" href="http://twitter.com/ericdfields"><b>T</b><span>witter</span></a></li>

  <li class="linkedin"><a href="http://www.linkedin.com/in/ericdfields"><b>L</b><span>inkedIn</span></a></li>

  <li class="dribbble"><a href="http://dribbble.com/ericdfields"><b>D</b><span>ribbble</span></a></li>

  <li class="github"><a href="http://github.com/ericdfields"><b>g</b><span>ithub</span></a></li>

  <li class="pinboard"><a href="http://pinboard.in/u:ericdfields"><span>Pi</span><b>n</b><span>board</span></a></li>

  <li class="lastfm"><a href="http://last.fm/user/ericdfields"><b>l</b><span>ast.fm</span></a></li>

  <li class="rdio"><a href="http://rdio.com/people/ericdfields"><b>r</b><span>dio</span></a></li>
</ul>