.front {
  nav {
    @include respond-to(tablet) {
      li {
        float: left;
        width: 25%;
      }
    }
  }
  section {
    ol,ul {
      @include no-bullets;
      margin: 0;
      padding: 0;
      @include clearfix;
    }
  }
  #about {
    display: none;
  }
  @include respond-to(desktop) {
    [role="document"] {
      @include clearfix;
      header, nav, section, footer {
        float: left;
        width: 100%;
      }
      header,nav {
        clear: both;
      }
      @include respond-to(desktop) {
        section {
          padding-top: 1em;
        }
      }
      #about {
        // display: none;
        // width: 34%;
        // h3,p {
        //   max-width: 94%;
        // }
      }
      // #writing {
      //   width: 60%;
      //   padding-left: 4%;
      // }
    }
  }
  .featured {
    clear: both;
    text-align: center;
    padding-bottom: 0;
    font-weight: bold;
    font-size: 24px;
  }
}

#writing {
  h2 {
    small {
      display: block;
      font-weight: bold;
      font-size: .75em;
      color: #a5bbcc;
    }
  }
  blockquote {
    margin: 0;
    line-height: 1.65;
  }
  li {
    margin: 4em 0;
    // margin-bottom: .55em;
    // line-height: 1.35;
    // @include respond-to(tablet) {
    //   font-family: $serif-stack;
    //   font-size: 24px;
    //   float: left;
    //   width: 100%;
    //   &:nth-child(5) {
    //     margin-bottom: 1.55em;
    //   }
    // }
    // &:nth-child(n+6) {
    //   font-family: inherit;
    //   font-size: inherit;
    //   line-height: 1.5;
    //   @include respond-to(tablet) {
    //     width: 25%;
    //     float: left;
    //     margin: .45em 0 1.85em;
    //     a {
    //       display: block;
    //       min-height: 5em;
    //       width: 80%;
    //     }
    //   }
    // }
  }
  a {
    text-decoration: none;
  }
}

#design {
  display: none;
  @include background(linear-gradient(#293447 70%,#131424) fixed);
  color: rgba(255,255,255,.75);
  h2 {
    text-align: center;
    font-size: 36px;
    text-shadow: 0 0 3px rgba(0,0,0,.5);
    color: white;
    small {
      font-family: "Baskerville", "Palatino Linotype", fantasy;
      color: rgba(255,255,255,.55);
    }
    abbr {
      font-family: Zapfino;
    }
  }
  li {
    width: 50%;
    float: left;
    @include respond-to(wide) {
      width: 33.33333%;
    }
  }
  a {
    display: block;
    margin: 8px 10% 10%;
    background: rgba(255,255,255,.92);
    padding: 4px;
    border: 1px solid rgba(0,0,0,.15);
    @include border-radius(4px);
    @include box-shadow(rgba(0,0,0,.35) 0 1em 10px -.5em);
    @include transition(125ms ease-out);
    &:hover {
      border-color: rgba(0,0,0,.22);
      @include transform(scale(1.1,1.1) rotate(-2deg));
      @include box-shadow(rgba(0,0,0,.35) 0 .5em 15px -.5em);
    }
    max-width: 400px;
    @include respond-to(desktop) {
      margin-left: auto;
      margin-right: auto;
    }
    @include respond-to(wide) {
      margin-left: 7%;
      margin-right: 7%;
    }
  }
  img {
    width: 100%;
    border: 1px solid rgba(0,0,0,.2);
    .js & {
      &.full-size {
        display: none;
      }
      @include respond-to(tablet) {
        display: none;
        &.full-size {
          display: block;
        }
      }
    }
  }
}