.front {
  blockquote {
    margin-left: 0;
    margin-right: 0;
    p {
      margin-top: 0;
    }
  }
  ol,ul {
    @include no-bullets;
    padding-left: 0;
  }
  h2 {
    small {
      display: block;
      font-weight: bold;
      color: #a5bbcc;
      @include adjust-font-size-to($base-font-size * .75);
    }
  }
  a {
    text-decoration: none;
  }
}
.front {
  #about,#design {
    display: none;
  }
}