.single { 
  nav {
    margin: 0;
    padding: 0;
    @include margin-trailer(2);
    // padding: 2.5% 7.5%;
    li {
      width: 10%;
      @include inline-block;
      margin: 0;
      padding: 0 1em;
      i {
        @include at-breakpoint($break) {
          @include adjust-font-size-to($base-font-size * 2);
        }
      }
      &:first-child {
        width: 45%;
        text-align: left;
      }
      &:last-child {
        width: 45%;
        text-align: right
      }
    }
  }

  .byline {
    color: rgba(0,0,0,0.45);
    background: white;
    a {
      color: rgba(0,0,0,0.65);
    }
    p {
      margin: 0;
    }
    @include padding-trailer(.5);
    @include margin-leader;
    @include margin-trailer;
    border: rgba(0,0,0,.25) double;
    border-width: 0 0 3px 0;
    @include at-breakpoint($break) {
      // @include padding-leader;
      @include padding-trailer;
      @include margin-trailer(2);
      // @include adjust-font-size-to($base-font-size * .75);
    }
  }      
}