.single { 
  nav {
    @include respond-to(desktop) {
      li {
        width: 33.33333%;
      }
    }
  }
  section {
    img {
      max-width: 100%;
    }                 
    .img {
      width: 150%;
      margin-left: -25%;
    }
  }
  article {
    // @extend .clearfix;
    font-size: 18px;
    max-width: 600px;
    @include respond-to(tablet) {
      margin: 0 auto 5em;
    }
  }
  blockquote {
    margin-left: #{24/$em}em;
    margin-right: #{24/$em}em;   
    font-style: italic;
    font-family: $serif-stack;
    em {
      font-style: normal;
    }
  }

  .byline {
    color: rgba(0,0,0,0.45);
    font-size: 12px;
    line-height: 1.5;
    a {
      color: rgba(0,0,0,0.65);
    }
  }      
}