//
// Important numbers
//

$line: 24;
$column: 100% / 18;
$font-size: 16;
$em: $font-size * 1;

$serif-stack: Palatino, Palladio, georgia, serif;
$sans-serif-stack: "Helvetica Neue", Arial, Helvetica, sans-serif;

$bkg: #F8FFFF;
$text-color: #434756;
$link: #5f535f;